@import url('https://fonts.googleapis.com/css?family=Open+Sans');


/****** RESET ***/

*{
	margin:0px;
	padding:0px;
	text-decoration:none;
	list-style:none;
	box-sizing: border-box;
	
}

body{
	
	
	font-family: 'Open Sans', sans-serif;
	font-size:1.25em;
	color:#114030;
}

main{
	width:100%;
	
}

.linha{
	width:90%;
	border-color:#ccc;
	margin:0 auto;
	padding:10px;
}



.clear{
	clear:both;
}

.content{
	width:90%;
	height:auto;
	min-height:100%;
	margin:0 auto;
	padding:10px;
	margin-bottom:10px;
	
}

/****** STYLO CABEÇALHO ***/
header .logo{
	text-align: center;
	background-color: #0a140c;
	padding: 5px;
	
}

/****** STYLO BANNER ***/
.banner{
	padding-top: 10px;
	background-color: #000;
	background-image: url(../img/bg-header.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	background-attachment:inherit;
	max-height:100%;
	max-width:100%;
}
.chamada{ display: none;}

/****** STYLO MENU ***/

nav{
	width:90%;
	margin: 0 auto;
	background-color: rgba(10,10,12,.76);
	padding:10px;
	text-align:center;	
}
nav li{
	
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #fff;
}


nav ul li{
	display: inline-block;
	
}

nav ul li a {
	text-transform: uppercase;		
	color: #fff;
	padding:20px;	
}
.sembarra{border-left-width: 0px;}

.menu-mobile{
	display:none;
}

/****** STYLO NOTICIAS ***/

.articleNoticias{
	
	max-Width: 90%;
	margin:0 auto;
	padding-left:10%;	
}

.noticias{
	width: 391px;
	max-width: 30%;
	min-height:440px;
	max-height:100%;
	background-color: rgba(10,10,12,.40);
	float:left;
	margin-right:20px;
	padding:0.75%;
	margin-top:10%;
	margin-bottom:5%;
	overflow:hidden;
}

.noticias p{
	font-size: 1.075em;
	color:#fff;
	word-wrap: break-word;
}

.noticias h1{
	color:#fff;
	margin-bottom:10px;
	font-size: 2.075em;
}

.linkNoticias{	
	color:#FFD700;
}	


/****** STYLO NEWSLATTER ***/

.newslatter{
	Background-color:#1c1d1e;
	height:70px;
	max-height:100%;
	color:#eee;
	
	
}

form{		
	width:90%;
	margin: 0 auto;
	padding-top:11px;	
}

form p{
	
	float:left;
	font-size: 0.875em;
	margin-right: 10px;
	margin-top:12px;
	text-transform: uppercase;
	word-wrap: break-word;	
}

.formNews{
	width:50%;
	max-Width:100%;
	margin-right:10px;
	padding:10px;
	float:left;
	border: solid 1px #666;
	background-color: #1c1d1e;
	font-size: 100%;
	color:#eee;	
}

.btn{
	width:15%;
	max-Width:100%;
	padding:10px;
	border: solid 1px #666;
	background-color: #3e4744;
	font-size: 100%;
	color:#25e28b;	
}

/****** STYLO FOOTER ***/

footer{
	background-color:#fff;
	overflow:hidden;
	font-size: 0.830em;
	padding-bottom:20px;
}

footer li{
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #333;
	padding-top:5px;
	padding-bottom:5px;
}

footer a{
	color:#114030;	
}

footer a:hover{
	color:#483D8B;	
}


.areafooter{
	width:90%;
	margin:0 auto;
	display:block;
	
}

.menuFooter{
	width:10%;
	max-Width:100%;
	height:auto;
	float:left;
	margin-right:30px;
}

.FaleconoscoFooter{
	width:23%;
	height:auto;
	float:left;
	margin-right:30px;
}

.FooterRedes{
	width:12%;
	height:auto;
	float:left;
	margin-right:30px;
}

.EnderecoFooter{
	width:22.5%;
	height:auto;
	float:left;
	margin-right:10px;
}

.TituloFooter{	
	font-weight: bold;
	font-size:1.05em;
	margin-top:5px;
	padding-bottom:5px;
	text-transform: uppercase;
}

.seguranca{
	float:left;
	width:16px;
	max-width:100%;
	height:20px;
	max-height:100%;
	margin-top:5px;

}

.restrito{
	text-transform: uppercase;
	word-wrap: break-word;    
	position: relative;
	top: 5px;
	left: 5px;
	text-decoration: underline;
}

.restrito a{	
	color: #00FFFF;
}

.restrito a:hover{	
	color: #00FFFF;
}

address{
	text-align:center;
	text-transform: uppercase;
	font-size: 0.710em;
}

/****** STYLO PAGE HOME ***/

.box-1-2 {
	margin-top:10px;
	margin-bottom:10px;
	width:60%;
	height:auto;
	display: block;
	padding:10px;
	float:left;	
}

.imagem{width:70%;
	display: block;
	border-bottom: solid 1px #ccc;
	margin-bottom:5px;
	
}

.imagem img{
	width:365px;
	height:310px;
	max-width:80%;
	max-height:75%;
}	

.imagem-dois{
	
	display: block;
	border-bottom: solid 1px #ccc;
	margin-bottom:10px;
	
}

.box-2-2{
	margin-top:10px;
	margin-bottom:10px;
	width:35%;
	height:auto;
	display: block;
	padding:10px;
	float:left;	
}	

.imagem-dois img{
	width:450px;
	height:300px;
	max-width:95%;
	max-height:75%;
}

.texto{
	min-width:30%;
	display: block;
	font-size:0.875em;
}	

.nome{
	font-size:1.25em;
	font-weight:bold;	
}

/****** STYLO PAGE QUEM SOMOS ***/

.PgQuemSomos {	
	float:left;
	padding:10px;
	border-left: 2px solid #3e4744;
	margin-bottom:10px;
}



.PgQuemSomos p{	
	word-wrap:normal;
	text-align:justify;
}

/****** STYLO PAGE BLOG ***/

.Post-List{
	margin-bottom:13px;
	padding-left:10px;	
	width:80%;
	float:left;
	
}

.Post-Blog{
	border-bottom:dashed 1px #333;
	padding:10px;
}

.Post-Blog:hover{
	background-color:#eee;
}

.Post-Blog ul li a{
	font-size:1.0em;
	color:#114030;
	text-transform:uppercase;
}

.Post-Blog ul li a:hover{
	text-decoration: underline;
}

.DataPost{
	font-size:0.875em;
	color:#114030;
}

.filtro-Post{
	width:17%;
	float:left;
	margin-left:10px;	
	border: solid 1px #ccc;	
	color:#114030;
	padding:10px;
	font-style: italic;
	font-size:0.875em;
}

.pesquisa{
	width:90%;
	border:solid 1px #ccc;
	padding:10px;
	margin:0 auto;
	margin-bottom:10px;
	
}
.campo-pesquisa{
	width:100%;
	padding:10px;
	border:solid 1px #ccc;
}

/****** STYLO PAGE CONTATO ***/

.formulario{
	width:60%;
	font-size: 1.0em;
	color:#114030;
	display:table;
	float:left;
	margin-bottom:10px;
}


.table-titulo-form{
	width:30%;
	display:table-cell;	
	float:left;
	
}

.table-campo-form{
	width:70%;
	display:table-cell;	
	float:left;
	margin-bottom:10px;
}

label {
	color:#114030;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
	text-transform: uppercase;
}

input, textarea {
	padding:8px;
	border:solid 1px #CCC;
	background-color:#eee;
	width:100%;	
}

button{
	width:20%;
	margin-top:5px;
	display:inline-block;
	border: solid 1px #666;
	background-color: #3e4744;
	font-size: 28px;
	color:#25e28b;
	padding:10px;
	float:right;
}

.caixaContato{
	width:40%;
	float:left;
	display:block;
	background-color:#1c1d1e;
	padding:10px;
	color:#fff;
	margin-top:10px;
}

/****** STYLO PAGE ATUAÇÃO ***/

.textAtuacao{
	width:30%;
	height:auto;	
	max-height:100%;
	position:relative;
	float:center;
	margin-left:10px;
	margin-bottom:10px;
	display:inline-block;	
}

.open_div{
	width:100%;
	cursor:pointer;
	height:40px;
	background-color:#efefef;
	border:solid 1px #e8e8e8;
	text-align:center;
	line-height:40px;	
}

.open_div span{
	color:#25e28b;
	font-weight:bold;
}

.hidden_div{
	width:100%;
	height:auto;
	min-height:100%;	
	top:41px;
	border:solid 1px #e8e8e8;
	overflow:hidden;
	clear:both;
	float:left;
	padding:10px;	
}

/****** STYLO PAGE ESCRITÓRIO ***/
.lbox{
	display:none;
	opacity:0;	
}

.galery ul{
	
	width:100%;
	list-style:none;
	display:inline-block;	
}

.min{
	width:25%;
	padding:10px;
	float:left;
}

.lbox:target{
	display:inline-block;
	opacity:1;
	visibility:visible;
	width:100%;
	height:100%;	
	background: rgba(10,10,10,.7);
	position:fixed;
	top:0;
	left:0;
	text-align:center;
	float:center;
	z-index: 1;
}

.box_img{
	width:100%;
	margin:150px auto;
}

.btnf{	
	color:#fff;
	text-decoration:none;
	position:absolute;
	width:50px;
	height:50px;
	font-size:2.5em;
	text-align:center;
}

#prev{
	left:23%;
	top:45%;
}

#next{
	right:23%;
	top:45%;
}

#close{
	top:0;
	right:2%;
}
/** PAGE POST **/

.Post{
	margin-bottom:13px;
	padding:10px;	
	width:80%;
	float:left;
	border:solid 1px #ccc;	
}

.TituloPost{
	font-weight: bold;
	font-size:1.950em;
	text-transform:uppercase;	
}
.author{
	color:#333;
	font-size:0.975em;
	margin-bottom:5px;
}
.cat{
	padding:2px;
	border:solid 1px #ddd;
	background-color:#ccc;	
}

.TextPost{
	margin-top:15px;
	
}
.comaprtilhar{
	margin-bottom:13px;
	padding-left:10px;	
	width:80%;
	float:left;
	border:solid 1px #ccc;
	clear:both;
}

.comaprtilhar ul li{
	display:inline-block;
	float:left;
	padding:7px;
	text-align:center;
}	

.tituloCompartilha{
	margin-top:5px;
	
}

.comaprtilhar img{
	width:32px;
	max-Width:100%;
	height:32px;
	max-height:100%;
}	














