@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@media (max-width: 920px){
	
	/** BANNER **/
	.banner{		
		background-image: url(../img/bg-header.jpg);
		background-repeat:no-repeat;
		background-size:100%;
		background-attachment:inherit;
		max-height:100%;
		padding:20px;
	}
	
	/** CHAMADA **/
	.chamada{
		display:block;
		text-align:center;
		color:#FFD700;
		font-size: 100%;
		border: solid 2px #FFD700;
		padding: 10px;
		width:175px;
		max-Width:70%;
		margin: 0 auto;
		margin-top: 10px;
		white-space: nowrap		
	}
	
	/** MENU NAV **/
	nav ul{ display:none;}
	
	.menu-mobile{
		display:block;
		color:#fff;
		margin-top: 5px;
	}
	
	nav ul li {
		text-transform: uppercase;
		color: #fff;
		padding: 10px;
		border-bottom: 1px solid #fff ;	
		border-left: 0px;
		font-size: 0.775em;
		display: block;
	}
	/** NOTICIAS **/	
	.articleNoticias{ display:none;}	
	
	/**	NEWSLATTER **/
	.newslatter{
		Background-color:#1c1d1e;	
		height:100%;
		color:#eee;
		overflow:hidden;
		margin:0 auto;
		text-align: center;
		padding-bottom:5px;
	}
	
	form p{
		width:100%;
		display:inline-block;
		font-size: 0.875em;
		margin-top:5px;
		white-space: nowrap;
	}

	.formNews{
		width:100%;
		margin-top:5px;
		display:inline-block;
		max-Width:100%;	
		border: solid 1px #666;
		background-color: #1c1d1e;
		font-size: 100%;
		color:#eee;
	}
	.btn{
		width:50%;
		margin-top:5px;
		display:inline-block;
		border: solid 1px #666;
		background-color: #3e4744;
		font-size: 100%;
		color:#25e28b;
	}
	
	/** FOOTER **/
	footer{
		background-color:#eee;
		overflow:hidden;
		font-size: 0.830em;
	}
	
	footer li { border:0px;
	}	
	
	.areafooter{
		width:90%;
		height:auto;
		padding-right: 0.75px;
		padding-left: 0.75px;
		font-size-adjust:auto;	
	}
	
	.menuFooter{
		width:100%;
		overflow:hidden;
		display:none;
		border-bottom: 1px solid #eee;
	}
	
	.FaleconoscoFooter{
		width:100%;
		overflow:hidden;
		display:block;
		border-bottom: 1px solid #eee;
	}
	
	.FooterRedes{
		width:100%;
		overflow:hidden;
		display:block;
	}
	
	.EnderecoFooter{
		width:100%;
		overflow:hidden;
		display:block;
	}
	
	.direitos{	
		background-color:#000;
		color:#fff;
		padding:10px;
		margin-top:10px;
	}
	
	.email{
		display:none;
	}
	
	/** PAGE HOME **/
	
	.box-1-2 {
		margin-top:10px;
		margin-bottom:10px;
		width:100%;
		height:auto;
		display: block;
		font-size:0.875em;
		border-bottom: solid 1px #ccc;
	}	
	.imagem{
		width:100%;
		display: block;
		margin-bottom:5px;		
	}	
	.imagem img{
		width:100%;
		max-width:100%;
		max-height:100%;
	}	
	.box-2-2 {
		margin-top:10px;
		margin-bottom:10px;
		width:100%;
		height:auto;
		display: block;
		font-size:0.875em;
		border-bottom: solid 1px #ccc;
	}	
	.imagem-dois{
		width:100%;
		display: block;
		margin-bottom:5px;		
	}	
	.imagem-dois img{
		width:100%;
		max-width:100%;
		max-height:100%;
	}	
	
	.texto{
		min-width:100%;
		display: block;
	}
	
	/** PAGE BLOG **/
	
	.Post-List{	
		width:100%;
		display:block;
	}
	
	.filtro-Post{
		display:none;
	}
	
	/** CONTATO **/
	
	.formulario{
		width:100%;
		font-size: 1.0em;
		color:#114030;
		display:block;
		margin-bottom:10px;
	}
	
	

	.table-titulo-form{
		width:100%;
		display:block;	
	}

	.table-campo-form{
		width:100%;
		display:block;
		margin-bottom:10px;
	}
	
	.caixaContato{
		width:100%;
		display:block;
		background-color:#1c1d1e;
		padding:10px;
		color:#fff;
		margin-top:10px;
		margin-bottom:10px;
	}
	
	/** PAGE AREA DE ATUAÇÃO **/	
	.textAtuacao{
		width:100%;
	}
	
	/** PAGE ESCRITORIO **/
	.min{
		width:50%;
		padding:10px;
		float:left;
	}
	
	.box_img{
		width:100%;
		/*margin:150px;*/
	}
	
	.lbox img{
		width:75%;
		height:75%;
	}
	
	#prev{
		left:0;
		top:40%;
	}

	#next{
		right:0%;
		top:40%;
	}
	
	
}










